# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Rayan\Documents\IPL\3BIN\BINV3140-1 Programmation - question spéciales\BINV3140-C Design patterns\Ex8-20201109\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
