@model IEnumerable<PartyInvites.Models.GuestResponse>
    @* La vue va utiliser une collection de GuestResponse *@
@{ 
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Responses</title>
</head>
<body>
    <h2>
        Here is the list of people attending the party
    </h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
            @foreach (PartyInvites.Models.GuestResponse gr in Model)
            {
                <tr>
                    <td>@gr.Name</td>
                    <td>@gr.Email</td>
                    <td>@gr.Phone</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
