/CompositeShapeMutationStrategy.class
/ExplodeShapeMutationStrategy.class
/GeneralShapeMutationStrategy.class
/GrowShapeMutationStrategy.class
/ImplodeShapeMutationStrategy.class
/ShapeMutationStrategy.class
/SpinShapeMutationStrategy.class
