<div class="spa-body body-dashboard container-fluid">
    <script>
        $(document).ready(function () {
            $('title').html("Dashboard");
            $('#profile-pseudo').html(localStorage.getItem("user.pseudo"));
            $('#profile-descript').html(localStorage.getItem("user.descript"));
            $('#profile-fullname').html(localStorage.getItem("user.fullname"));
            $('#profile-email').html(localStorage.getItem("user.email"));

            // Action sur le bouton
            $("#current-games").click(function (e) {
                e.preventDefault();
                currentGames();
            });

            //Appelle une fois au début et puis toutes les 5 secondes, pour mettre à jour
            historique();

            //Appel Ajax, récupère les historique
            function historique () {
                const url = '/api/historic';
                var data = 'token=' + localStorage.getItem("token");
                $.ajax({
                    contentType: 'json',
                    type : 'GET',
                    data : data,
                    url : url,
                    dataType : 'json',
                    success : function (response) {
                        if (response.success === 'true')
                            displayOwnAndGlobalHitso(response.data)
                    }
                });
            }

            /** Affiche l'historique personnel et global*/
            function displayOwnAndGlobalHitso(data) {
                create_dynamic_historic_HTML_table("Own", data);
                create_dynamic_historic_HTML_table("Global", data);
            }

            //Appel Ajax, récupere les parties courantes
            function currentGames() {
                const url = '/api/game';
                var data = 'token=' + localStorage.getItem("token");
                $.ajax({
                    contentType : 'json',
                    type : 'GET',
                    data : data,
                    url : url,
                    dataType : "json",
                    success : function (response) {
                        if(response.success === "true")
                            create_dynamic_Games_HTML_table(response.data);
                    },
                    error : function(message) {
                        failed(message);
                    }
                });
            }

            // Crée la table des parties dynamiquement
            // data est un Object, qui contient toutes les parties.
            function create_dynamic_Games_HTML_table(data) {
                // récupère les parties, objet dans une liste
                const currentGames = Object.values(data);
                let div_container = document.getElementById("dynamic_games_table");
                $('#waiting-games-table').remove();

                if (currentGames.length === 0)
                    $('#no-game-message').show();
                else {
                    $('#no-game-message').hide();
                    // Le nombre de cellule besoin par ligne
                    const NB_CELL = 3;

                    // recupère la div
                    // nettoie la div
                    let myTable = document.createElement("table");
                    myTable.className = "table";
                    myTable.id = 'waiting-games-table';
                    div_container.appendChild(myTable);

                    /* Crée le body */
                    /* crée le header */
                    let headerLine = document.createElement("tr");
                    myTable.appendChild(headerLine);

                    let th1 = document.createElement("th");
                    th1.innerHTML = "Nom";
                    headerLine.appendChild(th1);
                    let th2 = document.createElement("th");
                    th2.innerHTML = "Mot de passe";
                    headerLine.appendChild(th2);
                    let th3 = document.createElement("th");
                    th3.innerHTML = "";
                    headerLine.appendChild(th3);

                    for (const obj of currentGames) {

                        // let attributesGame = Object.values(obj); // Liste avec les valeurs des attributs pour 1 partie
                        // let keysAttributes = Object.keys(obj);

                        let myLine = document.createElement("tr");
                        myTable.appendChild(myLine);
                        myLine.id = obj["name"]; //chaque ligne à le nom da la partie comme id

                        // crée les cellules dans les lignes
                        for (let j = 0; j < NB_CELL; j++) {
                            let myCell = document.createElement("td");
                            myLine.appendChild(myCell);

                            if (j === 1) {
                                // pas mettre de input
                                if (obj["needPasswd"] === "false")
                                    myCell.innerHTML = "pas besoin de mot de passe";
                                else {
                                    let input = document.createElement("input");
                                    input.type = "password";
                                    input.className = "form-control game-passwd";
                                    input.placeholder = "mot de passe";
                                    input.required = true;
                                    myCell.appendChild(input);
                                }
                            } //Boutton
                            else if ( j === 2){
                                // Mettre comme id dans le bouton le nom de la partie et dans l'input
                                let button = document.createElement("button");
                                button.innerText = "Rejoindre";
                                button.className = "btn btn-primary join-game";
                                button.setAttribute("data-row-id", obj["name"]);
                                myCell.appendChild(button);
                                // ajouter un listener du bouton et vérifier l'input dans le cas où il est présent
                            } else {
                                let nomPartie = obj["name"];
                                myCell.innerHTML = nomPartie;
                            }
                        }
                    }
                    $('.join-game').click(function () {
                        var name = this.getAttribute("data-row-id");
                        var passwd = $('#' + name + ' input').val();

                        var data = "pseudo=" + localStorage.getItem("user.pseudo") +
                            "&name=" + name +
                            "&passwd=" + passwd +
                            "&token=" + localStorage.getItem("token");

                        $.ajax({
                            url : '/api/joinGame',
                            type : 'POST',
                            data : data,
                            dataType : 'json',
                            timeout: 5000,
                            success : function(response, statut) {
                                if (response.success === "true" && statut === "success") {
                                    $('.alert').fadeOut();
                                    activeLoading();
                                    nomPartie = name;
                                    me = 1;
                                    loadP4(response);
                                }
                            }
                        });
                    });
                }
            }

            function create_dynamic_historic_HTML_table(type, data) {
                let id_histo;

                if(type === "Own")
                    id_histo = "own-historic";
                else
                    id_histo = "global-historic";

                let div_historic = document.getElementById(id_histo);

                // clean la div à chaque fois et reécrit tout le json
                div_historic.innerHTML = "";

                let myTable = document.createElement("table");
                myTable.className = "table";
                div_historic.appendChild(myTable);

                // header
                let headerLine = document.createElement("tr");
                myTable.appendChild(headerLine);

                let th1 = document.createElement("th");
                th1.innerHTML = "#";
                headerLine.appendChild(th1);

                let th2 = document.createElement("th");
                th2.innerHTML = "Gagnant";
                headerLine.appendChild(th2);

                let th3 = document.createElement("th");
                th3.innerHTML = "Perdant";
                headerLine.appendChild(th3);

                const historic = Object.values(data);
                let count = 1;

                for (const obj of historic) {

                    let attributes = Object.values(obj); // prend juste les valeurs
                    let myLine;

                    // si le pseudo du client est dans l'historic ou si nous somme en global
                    if (attributes.includes(localStorage.getItem("user.pseudo")) || type === "Global") {
                        myLine = document.createElement("tr");
                        myTable.appendChild(myLine);
                        myLine.id = count;
                    } else
                        continue;

                    // ajout du # avant d'ajouter les noms
                    let myCell = document.createElement("th");
                    myCell.scope = "row";
                    myCell.innerHTML = count;
                    myLine.appendChild(myCell);

                    for (const name of attributes) {
                        let myCell = document.createElement("td");
                        myCell.innerHTML = name;
                        myLine.appendChild(myCell);

                    }
                    count++;
                }
            }
        });
    </script>
    <style>
        .body-dashboard {
            margin-top: 50px;
        }

        .card {
            padding: 0;
        }

        .section {
            margin-bottom: 15px;
        }
        .section:last-child {
            margin-bottom: 0;
        }

        .user-infos {
            margin-bottom: 25px;
        }
    </style>
    <div class="row">
        <div class="user-infos col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="card">
                <img src="./assets/img/users/random.jpg" id="profile-img" class="card-img-top" alt="Photo de l'utilisateur">
                <div class="card-body">
                    <h5 class="card-title" id="profile-pseudo">alexismch</h5>
                    <p class="card-text" id="profile-descript">Je suis nouveau.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" id="profile-fullname">Michiels Alexis</li>
                    <li class="list-group-item" id="profile-email">private@alexismch.be</li>
                </ul>
            </div>
        </div>
        <div class="game-info col-lg-9 col-md-8 col-sm-6 col-xs-12">
            <div class="section play-section">
                <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#create-game-modal">Créer une partie</button>
                <div class="modal fade" id="create-game-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Créer une partie</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form class="was-validated" id="create-game-form">
                                    <div class="col-md-6 mb-3">
                                        <label for="game-name">Nom de la partie</label>
                                        <input type="text" class="form-control is-invalid" id="game-name" required>
                                        <div class="invalid-feedback">
                                            Veuillez rentrer le nom de la partie.
                                        </div>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input passwd-check" id="no-need-passwd"
                                               name="radio-stacked" value="false" required>
                                        <label class="custom-control-label" for="no-need-passwd">Pas besoin d'un mot de passe</label>
                                    </div>
                                    <div class="custom-control custom-radio mb-3">
                                        <input type="radio" class="custom-control-input passwd-check" id="need-passwd"
                                               name="radio-stacked" value="true" required>
                                        <label class="custom-control-label" for="need-passwd">Besoin d'un mot de passe</label>
                                        <div class="invalid-feedback">Veuillez choisir un des deux champs.</div>
                                    </div>
                                    <div class="col-md-6 mb-3" id="passwd-input" style="display: none">
                                        <script>
                                            var nomPartie = "";
                                            var me = 0;
                                            $(document).ready(function () {
                                                $("#need-passwd").prop('checked', false);

                                                $('#create-game-modal').on('hidden.bs.modal', function (e) {
                                                    $(".passwd-check").prop('checked', false);
                                                    $("#passwd-input").slideUp();
                                                    $("#passwd-input input").removeAttr("required");
                                                    $("#game-passwd").val("");
                                                    $("#game-name").val("");
                                                });

                                                $("#create-game-form").submit(function (e) {e.preventDefault();});

                                                $(".passwd-check").change(function (e) {
                                                    if ($(this).attr("id") === "need-passwd") {
                                                        $("#passwd-input").slideDown();
                                                        $("#passwd-input input").attr("required", "");
                                                    } else {
                                                        $("#passwd-input").slideUp();
                                                        $("#passwd-input input").removeAttr("required");
                                                        $("#game-passwd").val("");
                                                    }
                                                });

                                                $("#create-game-submit").click(function (e) {
                                                    e.preventDefault();
                                                    if ($('input[name=radio-stacked]:checked', '#create-game-form').val() === undefined) return;
                                                    var data = "name=" + $("#game-name").val() +
                                                        "&needPasswd=" + $('input[name=radio-stacked]:checked', '#create-game-form').val() +
                                                        "&passwd=" + $("#game-passwd").val() +
                                                        "&pseudo=" + localStorage.getItem("user.pseudo") +
                                                        "&token=" + localStorage.getItem("token");
                                                    $.ajax({
                                                        url : '/api/game',
                                                        type : 'POST',
                                                        data : data,
                                                        dataType : 'json',
                                                        timeout: 5000,
                                                        success : function(response, statut) {
                                                            if (response.success === "true") {
                                                                $('.alert').fadeOut();
                                                                activeLoading();
                                                                nomPartie = response.data.name;
                                                                me = 0;
                                                                loadP4(response.data);
                                                            } else
                                                                failed(response.message);
                                                        },
                                                        error : function(message) {
                                                            failed(message);
                                                        }
                                                    });
                                                });
                                            });
                                        </script>
                                        <label for="game-passwd">Mot de passe de la partie</label>
                                        <input type="text" class="form-control is-invalid" id="game-passwd">
                                        <div class="invalid-feedback">
                                            Veuillez rentrer le mot de passe de la partie.
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                <button type="button" class="btn btn-primary" id="create-game-submit">Créer</button>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-outline-secondary" id="current-games" data-toggle="modal" data-target="#currentGames">Rejoindre une partie</button>
                <div class="modal fade" id="currentGames" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Rejoindre une partie</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <h2>Les parties :</h2>
                                <div id="dynamic_games_table">
                                    <p id="no-game-message">
                                        Aucune partie en attente, créez en une : <br>
                                        <button type="button" class="btn btn-outline-primary" id="no-game-button" data-toggle="modal" data-target="#create-game-modal">Créer une partie</button>
                                    </p>
                                    <script>
                                        $(document).ready(function () {
                                           $("#no-game-button").click(function () {
                                               $( ".close" ).trigger( "click" );
                                           });
                                        });
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section own-histo-section">
                <h2>Mon historique</h2>
                <div id="own-historic"></div>
            </div>
            <div class="section global-histo-section">
                <h2>Historique global</h2>
                <div id="global-historic"></div>
            </div>
        </div>
    </div>
</div>