<div class="spa-body body-login">
    <link rel="stylesheet" href="./assets/css/login.min.css">
    <script src="./assets/js/login.min.js"></script>
    <div class="veen">
        <div class="login-btn splits">
            <p>Déjà inscrit ?</p>
            <button class="active">Connexion</button>
        </div>
        <div class="rgstr-btn splits">
            <p>Pas encore inscrit ?</p>
            <button>Inscription</button>
        </div>
        <div class="wrapper">
            <form id="login" tabindex="500">
                <h3>Connexion</h3>
                <div class="mail">
                    <input type="mail" name="">
                    <label>Mail</label>
                </div>
                <div class="passwd">
                    <input type="password" name="">
                    <label>Mot de passe</label>
                </div>
                <div class="submit">
                    <button class="dark">Connexion</button>
                </div>
            </form>
            <form id="register" tabindex="502">
                <h3>Inscription</h3>
                <div class="name">
                    <input type="text" name="">
                    <label>Nom complet</label>
                </div>
                <div class="mail">
                    <input type="mail" name="">
                    <label>Mail</label>
                </div>
                <div class="uid">
                    <input type="text" name="">
                    <label>Pseudo</label>
                </div>
                <div class="passwd">
                    <input type="password" name="">
                    <label>Mot de passe</label>
                </div>
                <div class="submit">
                    <button class="dark">Inscription</button>
                </div>
            </form>
        </div>
    </div>
</div>