<div class="spa-body body-p4">
	<div id="game">
		<table>
			<tr data-row="0">
				<td data-column="0"></td>
				<td data-column="1"></td>
				<td data-column="2"></td>
				<td data-column="3"></td>
				<td data-column="4"></td>
				<td data-column="5"></td>
				<td data-column="6"></td>
			</tr>
			<tr data-row="1">
				<td data-column="0"></td>
				<td data-column="1"></td>
				<td data-column="2"></td>
				<td data-column="3"></td>
				<td data-column="4"></td>
				<td data-column="5"></td>
				<td data-column="6"></td>
			</tr>
			<tr data-row="2">
				<td data-column="0"></td>
				<td data-column="1"></td>
				<td data-column="2"></td>
				<td data-column="3"></td>
				<td data-column="4"></td>
				<td data-column="5"></td>
				<td data-column="6"></td>
			</tr>
			<tr data-row="3">
				<td data-column="0"></td>
				<td data-column="1"></td>
				<td data-column="2"></td>
				<td data-column="3"></td>
				<td data-column="4"></td>
				<td data-column="5"></td>
				<td data-column="6"></td>
			</tr>
			<tr data-row="4">
				<td data-column="0"></td>
				<td data-column="1"></td>
				<td data-column="2"></td>
				<td data-column="3"></td>
				<td data-column="4"></td>
				<td data-column="5"></td>
				<td data-column="6"></td>
			</tr>
			<tr data-row="5">
				<td data-column="0"></td>
				<td data-column="1"></td>
				<td data-column="2"></td>
				<td data-column="3"></td>
				<td data-column="4"></td>
				<td data-column="5"></td>
				<td data-column="6"></td>
			</tr>
		</table>
	</div>
	<link rel="stylesheet" href="./assets/css/p4.min.css">
	<script src="./assets/js/p4.min.js"></script>
</div>